.card{
    display: flex;
    width: 80%;
    flex-direction: row;
    /* align-items: center; */
    justify-content:center;
    gap:3rem;
    
}
.imagePreview{
    width: 10px;
    height: 10px;
    padding: 2rem;
}