.row{
    margin-top: 2rem;
    
}
.text{
    text-align: justify;
    padding-top: 10px;
}
.progressContainer{
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.progressBar{
    // padding: 1rem;
}