.mainDiv {
  background-color: #c9eeff;
  margin-top: 3rem;
  width: 100%;
}

.container{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;

}.row{
    margin-top: 1rem;
}