.mainDiv{
    background-color: #00425A;
    .container{
        padding: 2rem;
        .leftText{
            color: white;
            padding-top: 4rem;
        }
        .rightText{
            color: white;
            // padding: 1rem;

        }
    }
}